<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="emailHelp"
          />

          <label for="body">Body</label>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="body"
              name="body"
              style="height: 250px"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="coverImage" class="form-label">Image</label>
            <input class="form-control" type="file" name="coverImage" id="coverImage" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
